* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 24px;
    width: 1130px;
    margin: auto;
}
 
navbar {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;
    padding: 0px 25px;
    margin-top: 45px;
    border-radius: 18px;
}

.nav-links {
    display: flex;
    width: 280px;
    justify-content:space-between;
}