* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 24px;
    width: 1130px;
    margin: auto;
    background-color: #eeeeee;
}

navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;
    padding: 0px 25px;
    margin-top: 30px;
}

.nav-links {
    display: flex;
    width: 280px;
    justify-content:space-between;
}

.upper-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 362px;
    width: 576px;
}

.social-link {
    display: flex;
    width: 572px;
    height: 68px;
    align-items: center;
    justify-content: center;
}

.lower-section {
    display: flex;
    justify-content: space-between;
    height: 135px;
    align-items: space-between;
    margin-top: 45px;
    flex-direction: column;
    padding: 20px 25px;
    line-height: 29px;
    margin-bottom: 30px;
}

navbar,
.social-link,
.lower-section {
    border: 2px solid black;
    box-shadow: 0px 4px 5px #3300ff42;
    border-radius: 18px;
}

.profile-image {
    box-shadow: 0px 6px 5px #3300ff42;
    border-radius: 18px;
}

navbar a,
.upper-section a {
    text-decoration: none;
    color: black;
}